<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1 class="text-success">Magazine Info</h1>
    <div>
        <a class="text-white btn btn-primary" href="/addMagazine">Add Magazine </a>
        <a class="text-white btn btn-primary" href="/account">Account </a>
        <a class="text-white btn btn-danger" href="/logout">Log out</a>
    </div>


        <h3 class="text-info">Title:</h3>
        <h5>{{magazine.title}}</h5>   
        <h3 class="text-info">Discription:</h3>
        <h5>{{magazine.discription}}</h5>


</body>
</html>